<nav class="navbar navbar-expand-lg navbar-dark header-color">
  <class class="container-fluid">
    <a class="navbar-brand logo-text" href="/"><b>S</b><i>unshine</i></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="nav-item nav-link header-link {{#if activeNav.create}}{{activeNav.create}}{{/if}} " href="/music/create">Thêm Bài Mới</a>
      <a class="nav-item nav-link header-link {{#if activeNav.stored}}{{activeNav.stored}}{{/if}} " href="/me/stored/music">Bài Hát Của Tôi</a>
      <form action="/music/search" method="get" class="d-flex justify-content-center">
        <input class="mr-2 ml-4"  name="q">
        <input class="btn btn-primary" type="submit" value="Tìm Kiếm" >
      </form>
    </div>
    
    <ul class="d-flex">
      {{#if user}}
      <li class="nav-item nav-link header-link d-flex align-items-center">{{user.username}}</li>
      <li class="nav-item nav-link header-link">
        <a class=" btn btn-primary" href="/logout">Logout</a>
      </li>
      {{else}}
      <li class="nav-item nav-link header-link">
        <a class=" btn btn-primary" href="/login">Login</a>
      </li>
      <li class="nav-item nav-link header-link">
        <a class=" btn btn-primary" href="/register">Register</a>
      </li>
      {{/if}}
    
    </ul>
    
  </class>

  </div>
</nav>
<script type="text/javascript">
        window.addEventListener("scroll", function(){
            var header = document.querySelector("nav");
            var body = document.querySelector("body");
            header.classList.toggle("sticky", window.scrollY > 100)
            body.classList.toggle("body-change", window.scrollY > 100)
            console.log( window.scrollY)
            
        })
        
    </script>
